* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-title{
    margin: auto;
    text-align: center;
}

.game-scores{
    margin: 5% auto;
}


.game-field {
    max-width: 800px;
    perspective: 600px;
    transform-style: preserve-3d;
}

.card {
    max-width: 180px;
    max-height: 220px;
    min-width: 180px;
    min-height: 220px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    padding: 0;
    transition: transform .5s;
}


.card-front-side  {
    width: 100%;
    position: absolute;
    transform: rotateY(-180deg);
}

.card-reverse{
    width: 100%;
    position: absolute;
}


.card.flip {
    transform: rotateY(180deg);
  }

  .invisible{
     background-color : rgba(8, 8, 8, 0.383);
  }