* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.card {
    max-width: 180px;
    max-height: 220px;
    min-width: 180px;
    min-height: 220px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.game-field {
    max-width: 800px;
}

.card-front-side .card-reverse {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-reverse {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;

}